In [1]:
import sqlite3
import pandas as pd
import os

In [2]:
data_path = r"C:\Users\Jwp\Desktop\workspace\Final_project\DataScience\Final_Data\movie\moviePoster"
score_path = r"C:\Users\Jwp\Desktop\workspace\Final_project\DataScience\Final_Data\emotion\emotion_score"
db_path= r"C:\Users\Jwp\Desktop\workspace\Final_project\MI-App"

# data_path = r"C:\Users\chongs\Desktop\git\final_project\DataScience\Final_Data\movie\moviePoster"
# score_path = r"C:\Users\chongs\Desktop\git\final_project\DataScience\Final_Data\emotion\emotion_score"
# db_path= r"C:\Users\chongs\Desktop\git\final_project\MI-App"

In [3]:
movies = pd.read_csv(os.path.join(data_path, "movie_info_all2.csv"), encoding="utf-8")
score = pd.read_csv(os.path.join(score_path, "movie_emtion_score.csv"), encoding="utf-8")

In [8]:
len(movies), len(score)

(13367, 21)

In [12]:
print(movies[movies.movieNm.str.contains("프렌즈 위드")].poster.iloc[0])

https://ssl.pstatic.net/imgmovie/mdi/mit110/0806/80632_P12_154113.jpg

In [11]:
movies = movies[movies.prdtYear.isnull() == False]

In [14]:
movies.prdtYear = movies.prdtYear.astype(int).astype(str)

C:\Users\Jwp\Anaconda3\envs\movie-inside\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [13]:
movies.tail(2)

,movieCd,movieNm,movieNmEn,prdtYear,openDt,prdtStatNm,repGenre,genre,repNation,nations,...,actors_en,cast,cast_en,companyCd,companyNm,companyNmEn,companyPartNm,watchGradeNm,poster,userRating
13365,19860081,J에게,To J,1985.0,19851213,개봉,드라마,"드라마,멜로/로맨스",한국,한국,...,"['KIM Bul-rai', 'NAMKOONG Won', 'JUNG Jin', ''...","['', '', '', '', '다흰']","['', '', '', '', '']",['20060167'],['남아진흥(주)'],[''],['제작사'],국민학생관람불가,https://ssl.pstatic.net/imgmovie/mdi/mit110/02...,0.0
13366,19910228,LA이야기,La Story,1991.0,19910608,개봉,코미디,코미디,미국,미국,...,"['Steve Martin', 'Victoria Tennant']","['', '']","['', '']",['20100963'],['세경영화㈜'],[''],['수입사'],고등학생이상관람가,https://ssl.pstatic.net/imgmovie/mdi/mit110/01...,8.0

In [14]:
score

,movieCd,movieNm,impression,fear,anger,sadness,fun,boredom,positive,negative
0,19980074,타이타닉,53,1,10,21,10,3,90,9
1,20030371,태극기 휘날리며,42,2,10,30,9,4,86,13
2,20040734,노트북,66,0,4,14,11,3,91,8
3,20060151,괴물,12,10,9,19,39,8,78,21
4,20070061,트랜스포머,9,4,11,17,45,11,79,20
5,20090074,해운대,28,2,7,19,31,10,79,20
6,20090834,아바타,14,2,10,17,40,13,77,22
7,20112821,프렌즈 위드 베네핏,10,0,6,5,69,7,87,12
8,20124079,"광해, 왕이 된 남자",28,2,6,17,39,6,86,13
9,20127593,7번방의 선물,41,0,5,29,19,3,90,9
10,20129370,명량,23,4,9,18,33,10,80,19
11,20134803,변호인,22,2,16,41,12,5,80,19
12,20135428,어바웃 타임,51,0,7,16,20,4,86,13
13,20136803,겨울왕국,22,1,5,11,55,4,89,10
14,20149120,인터스텔라,19,3,13,17,33,12,77,22
15,20156564,부산행,11,14,7,13,44,9,81,18
16,20167904,라라랜드,36,0,7,17,29,9,82,17
17,20183782,기생충,3,11,21,22,31,8,83,16
18,20183867,알라딘,21,0,4,9,58,4,66,33
19,20184889,어벤져스: 엔드게임,27,0,6,19,38,7,90,9
20,20162941,컨저링 2,1,57,5,8,22,5,86,13

In [15]:
movies.isnull().sum()

movieCd             0
movieNm             0
movieNmEn        1049
prdtYear            7
openDt              0
prdtStatNm          0
repGenre           80
genre              82
repNation           3
nations             3
typeNm              8
showTm            132
directors           0
actors              3
actors_en           3
cast                3
cast_en             3
companyCd           3
companyNm           3
companyNmEn         3
companyPartNm       3
watchGradeNm      269
poster              0
userRating          0
dtype: int64

In [16]:
movies = movies.fillna("")

In [17]:
movies.isnull().sum()

movieCd          0
movieNm          0
movieNmEn        0
prdtYear         0
openDt           0
prdtStatNm       0
repGenre         0
genre            0
repNation        0
nations          0
typeNm           0
showTm           0
directors        0
actors           0
actors_en        0
cast             0
cast_en          0
companyCd        0
companyNm        0
companyNmEn      0
companyPartNm    0
watchGradeNm     0
poster           0
userRating       0
dtype: int64

In [8]:
score.isnull().sum()

movieCd       0
movieNm       0
impression    0
fear          0
anger         0
sadness       0
fun           0
boredom       0
positive      0
negative      0
dtype: int64

In [16]:
con = sqlite3.connect(os.path.join(db_path, "db.sqlite3"))

In [17]:
cur = con.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
cur.fetchall()

[('django_migrations',),
 ('sqlite_sequence',),
 ('auth_group_permissions',),
 ('auth_user_groups',),
 ('auth_user_user_permissions',),
 ('django_admin_log',),
 ('django_content_type',),
 ('auth_permission',),
 ('auth_user',),
 ('auth_group',),
 ('knox_authtoken',),
 ('django_session',),
 ('users_profile',),
 ('movieInfo_movieinfo',),
 ('moviescore_moviescore',)]

In [18]:
# cur = con.cursor()
# cur.execute("DELETE FROM movieInfo_movieinfo")
# cur.fetchall()

[]

In [20]:
# cur = con.cursor()
# cur.execute("DELETE FROM sqlite_sequence WHERE name = 'movieInfo_movieinfo';")
# cur.fetchall()

[]

In [24]:
cur = con.cursor()
cur.execute("SELECT * FROM sqlite_sequence")
cur.fetchall()

[('django_migrations', 27),
 ('django_admin_log', 22),
 ('django_content_type', 10),
 ('auth_permission', 40),
 ('auth_user', 8),
 ('auth_group', 0),
 ('users_profile', 295),
 ('moviescore_moviescore', 21),
 ('movieInfo_movieinfo', 13360)]

In [22]:
# cur = con.cursor()
# cur.execute("DELETE FROM moviescore_moviescore")
# cur.fetchall()

[]

In [23]:
# cur = con.cursor()
# cur.execute("DELETE FROM sqlite_sequence WHERE name = 'moviescore_moviescore';")
# cur.fetchall()

[]

In [22]:
movies.to_sql("movieInfo_movieinfo", con, if_exists="append", index=False)

In [24]:
score.to_sql("moviescore_moviescore", con, if_exists="append", index=False)

In [23]:
cur = con.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
cur.fetchall()

[('django_migrations',),
 ('sqlite_sequence',),
 ('auth_group_permissions',),
 ('auth_user_groups',),
 ('auth_user_user_permissions',),
 ('django_admin_log',),
 ('django_content_type',),
 ('auth_permission',),
 ('auth_user',),
 ('auth_group',),
 ('knox_authtoken',),
 ('django_session',),
 ('users_profile',),
 ('movieInfo_movieinfo',),
 ('moviescore_moviescore',)]

In [26]:
cur = con.cursor()
cur.execute("SELECT * From moviescore_moviescore;")
score_movie = cur.fetchall()

In [27]:
len(score_movie)

21

In [28]:
score_movie[:2]

[(1, '19980074', '타이타닉', 53, 1, 10, 21, 10, 3, 90, 9),
 (2, '20030371', '태극기 휘날리며', 42, 2, 10, 30, 9, 4, 86, 13)]

In [25]:
cur = con.cursor()
cur.execute("SELECT * From movieinfo_movieinfo;")
db_movies = cur.fetchall()

In [26]:
len(db_movies)

13360

In [27]:
db_movies[:2]

[(1,
  '20196405',
  '극장판 타오르지마 버스터-블랙어썰트의 귀환',
  'The Return of Dark Assault',
  '2019',
  '20191205',
  '개봉예정',
  '코미디',
  '코미디,애니메이션,액션,어드벤처',
  '한국',
  '한국',
  '장편',
  '73.0',
  '조영광',
  "['홍범기', '안영미', '안효민', '최낙윤']",
  "['HONG Beom-gi', 'AN Young-mi', '', '']",
  "['', '', '', '']",
  "['', '', '', '']",
  "['20142828']",
  "['(주)시너지미디어']",
  "['Synergy Media Inc.']",
  "['제작사']",
  '전체관람가',
  'https://ssl.pstatic.net/imgmovie/mdi/mit110/1883/188345_P09_113821.jpg',
  '8.0'),
 (2,
  '20197803',
  '겨울왕국 2',
  'Frozen 2',
  '2019',
  '20191121',
  '개봉예정',
  '애니메이션',
  '애니메이션',
  '미국',
  '미국',
  '장편',
  '103.0',
  '크리스 벅, 제니퍼 리',
  "['크리스틴 벨', '이디나 멘젤', '조시 게드', '조나단 그로프']",
  "['Kristen Bell', 'Idina Menzel', 'Josh Gad', 'Jonathan Groff']",
  "['', '', '', '']",
  "['', '', '', '']",
  "['20161801', '20161801']",
  "['월트디즈니컴퍼니코리아 유한책임회사', '월트디즈니컴퍼니코리아 유한책임회사']",
  "['The Walt Disney Company Korea', 'The Walt Disney Company Korea']",
  "['배급사', '수입사']",
  '전체관람가',
  'https://ssl.pstatic.net/imgmovie/mdi/mit110/1368/136873_P15_143052.jpg',
  '9.04')]

In [28]:
con.commit()

In [29]:
con.close()

In [12]:
# cur = con.cursor()
# cur.execute("DROP TABLE moviescore_moviescore")
# cur.fetchall()

[]