In [225]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import lxml
from bs4 import BeautifulSoup

import os
import json
from datetime import datetime

In [5]:
save_path = r"C:\Users\Jwp\Desktop\workspace\Final_Project\DataScience\Final_Data\movie\moviePoster"

In [257]:
def load_Poster(pages):
    
    moviePoster = pd.DataFrame()
    
    for page in range(1, pages+1):
        url = f"http://175.125.91.94/openapi/service/rest/meta/KFApost?numOfRows=200&pageNo={page}"
        res = requests.get(url)
        soup = BeautifulSoup(res.text, "html.parser")
        tmp = soup.find_all("item")
        
        movieNm = []
        movieNmEn = []
        posters = []
        openDt = []
        for i in range(len(tmp)):
            try:
                movieNm.append(tmp[i].find('title').text)
            except:
                movieNm.append("")
            try:
                movieNmEn.append(tmp[i].find('alternativetitle').text)
            except:
                movieNmEn.append("")
            try:
                posters.append(tmp[i].find('referenceidentifier').text)
            except:
                posters.append("")
            try:
                date = tmp[i].find("regdate").text
                date = date[:date.index("T")]
                openDt.append(date)
            except:
                openDt.append("")
                
        posters = pd.DataFrame([movieNm, movieNmEn, posters, openDt]).T
        moviePoster = pd.concat([moviePoster, posters], axis=0)
    
    moviePoster.columns = ["movieNm", "movieNmEn", "posterUrl", "openDt"]
    
    return moviePoster

In [ ]:
moviePoster = load_Poster(118)

In [260]:
moviePoster

,movieNm,movieNmEn,posterUrl,openDt
0,몬스터,The Monsters,http://file.koreafilm.or.kr/thm/02/00/05/36/TN...,2019-10-17
1,두 교황,The Two Popes,http://file.koreafilm.or.kr/thm/02/00/05/36/TN...,2019-10-17
2,결혼 이야기,Marriage Story,http://file.koreafilm.or.kr/thm/02/00/05/35/TN...,2019-10-17
3,가족이 되기까지,In Safe Hands,http://file.koreafilm.or.kr/thm/02/00/05/35/TN...,2019-10-17
4,아빠는 예쁘다,Dad is Pretty (A-bba-neun Ye-bbeu-da),http://file.koreafilm.or.kr/thm/02/00/05/31/TN...,2019-10-17
...,...,...,...,...
106,고스트 라이더,,http://file.koreafilm.or.kr/thm/02/00/00/94/TN...,2007-04-02
107,말라 노체,,http://file.koreafilm.or.kr/thm/02/00/00/92/TN...,2007-03-23
108,향수-어느 살인자의 이야기,,http://file.koreafilm.or.kr/thm/02/00/00/92/TN...,2007-03-20
109,홀리 마운틴,,http://file.koreafilm.or.kr/thm/02/00/00/92/TN...,2007-03-12
110,리틀 러너,,http://file.koreafilm.or.kr/thm/02/00/00/91/TN...,2007-02-14

In [261]:
moviePoster.to_csv(os.path.join(save_path, "movie_posters_utf.csv"), index=None, encoding="utf-8")

In [262]:
moviePoster[moviePoster.movieNm == "아바타"]

,movieNm,movieNmEn,posterUrl,openDt
132,아바타,,http://file.koreafilm.or.kr/thm/02/00/01/29/TN...,2013-12-06