In [1]:
import pandas as pd
import sqlite3

import os

In [2]:
data_path = r"C:\Users\Jwp\Desktop\workspace\Final_Project\DataScience\Final_Data\movie\moviePoster"
db_path = r"C:\Users\Jwp\Desktop\workspace\Final_Project\MI-App"

In [3]:
movies = pd.read_csv(os.path.join(data_path, "movie_merge_poster.csv"), encoding="euc-kr")

In [4]:
con = sqlite3.connect(os.path.join(db_path, "db.sqlite3"))

In [11]:
movies.to_sql("movieInfo_movieinfo", con, if_exists="append", index=False)

OperationalError: table movieInfo_movieinfo has no column named index

In [5]:
cur = con.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
cur.fetchall()

[('django_migrations',),
 ('sqlite_sequence',),
 ('auth_group_permissions',),
 ('auth_user_groups',),
 ('auth_user_user_permissions',),
 ('django_admin_log',),
 ('django_content_type',),
 ('auth_permission',),
 ('auth_user',),
 ('auth_group',),
 ('knox_authtoken',),
 ('movieInfo_movieinfo',),
 ('moviescore_moviescore',),
 ('django_session',),
 ('users_profile',)]

In [25]:
cur = con.cursor()
cur.execute("DROP TABLE movieData")

OperationalError: database table is locked