In [2]:
import pandas as pd
import os

In [3]:
save_path = r"C:\Users\Jwp\Desktop\workspace\Final_project\DataScience\Final_Data\movie\movieInfo\all"

In [4]:
mlist = pd.read_csv(os.path.join(save_path, "movie_list_all.csv"), encoding="utf-8")

In [5]:
details = pd.read_csv(os.path.join(save_path, "movie_details_all.csv"), encoding="utf-8")

In [7]:
len(mlist), len(details)

(19874, 19874)

In [9]:
def movie_merge(mlist, details, lang="en"):
    
    df = mlist.merge(details, on='movieCd')
    
    columns = ['movieCd', 'movieNm_x', 'movieNmEn', 'prdtYear', 'openDt', 'prdtStatNm', 'repGenreNm', 
               'genreAlt', 'repNationNm', 'nationAlt', 'typeNm', 'showTm', 'directors', 'actors', 
               'actors_en', 'cast', 'cast_en', 'companyCd_y', 'companyNm_y', 'companyNmEn', 
               'companyPartNm', 'watchGradeNm']
    df = df[columns]
    
    if lang == "kor":
        columns_kor = ['영화코드', '영화명', '영화명_영어', '제작연도', '개봉일', '제작상태', '대표장르',
                       '장르전체', '대표제작국가', '제작국가', '단/장편', '상영시간', '감독명', '배우명', 
                       '배우명_영어', '역할명', '역할명_영어', '참여영화사코드',  '참여영화사명', 
                       '참여영화사명_영어', '참영영화사분야명', '관람등급']
        
        df.columns = columns_kor
        
    elif lang == "en":
        columns_en = ['movieCd', 'movieNm', 'movieNmEn', 'prdtYear', 'openDt', 'prdtStatNm', 'repGenre', 
                      'genre', 'repNation', 'nations', 'typeNm', 'showTm', 'directors', 'actors', 
                      'actors_en', 'cast', 'cast_en', 'companyCd', 'companyNm', 'companyNmEn', 
                      'companyPartNm', 'watchGradeNm']
        
        df.columns = columns_en
        
    else:
        print("Type is wrong!")
    
    return df

In [10]:
merged_en = movie_merge(mlist, details, lang="en")

In [12]:
merged_kor = movie_merge(mlist, details, lang="kor")

In [20]:
len(merged_en), len(merged_kor)

(19874, 19874)

In [16]:
merged_en.head(2)

,movieCd,movieNm,movieNmEn,prdtYear,openDt,prdtStatNm,repGenre,genre,repNation,nations,...,directors,actors,actors_en,cast,cast_en,companyCd,companyNm,companyNmEn,companyPartNm,watchGradeNm
0,20196285,오만,Huris,2019,20190905,개봉,드라마,드라마,한국,한국,...,지일주,"['지일주', '박원상', '김기방']","['JI Il-joo', 'PARK Won-sang', 'KIM Ki-Bang']","['', '', '']","['', '', '']","['20156848', '20156848']","['(주)백그림', '(주)백그림']","['', '']","['제작사', '배급사']",['15세이상관람가']
1,20183407,버티고,Vertigo,2019,20191016,개봉,드라마,"드라마,멜로/로맨스",한국,한국,...,전계수,"['천우희', '유태오', '정재광']","['CHUN Woo-hee', 'YOO Teo', 'JEONG Jae-gwang']","['서영', '', '관우']","['Seo-young', '', '']","['20100414', '20188741', '20188741', '20100851']","['영화사 도로시(주)', '(주)트리플픽쳐스', '(주)트리플픽쳐스', '(주)화...","['Film Dorothy', 'Triple Pictures Inc.', 'Trip...","['제작사', '배급사', '제공', '해외세일즈사']",['15세이상관람가']

In [19]:
merged_kor.tail(2)

,영화코드,영화명,영화명_영어,제작연도,개봉일,제작상태,대표장르,장르전체,대표제작국가,제작국가,...,감독명,배우명,배우명_영어,역할명,역할명_영어,참여영화사코드,참여영화사명,참여영화사명_영어,참영영화사분야명,관람등급
19872,19910263,최가손우2,CRAZY COMPANIES 2,1988,19910803,개봉,NaN,NaN,NaN,NaN,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19873,19910096,칙칙이의 내일은 참피온,Tomorrow's Champion,1991,19910803,개봉,코미디,코미디,한국,한국,...,,['장고웅'],['JANG Go-ung '],[''],[''],[],[],[],[],[]

In [21]:
merged_en.to_csv(os.path.join(save_path, "movie_merged_all_en.csv"), index=None, encoding="utf-8")

In [22]:
merged_kor.to_csv(os.path.join(save_path, "movie_merged_all_kor.csv"), index=None, encoding="utf-8")