## Kofic API 영화 상세 목록 로드<br>

### API Key 하나당 일일 **3000개** 요청 제한
- 영화목록 데이터를 **2900**개씩 분할하여 요청

In [25]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup

from tqdm import tqdm

import os
import time
import json

In [26]:
save_path = r"C:\Users\Jwp\Desktop\workspace\Final_project\DataScience\Final_Data\movie\movieInfo\all"

In [27]:
key1 = "430156241533f1d058c603178cc3ca0e"
key2 = "843263a42ef422fedcc5a1abcbbfbaa7"
key3 = "6c3bac1836c5bf83e8beef288cbd5665"
key4 = "918fb53581a78bbd50069905bb10fc8c"
key5 = "8332302a9428957b49381ad9224573f8"

In [3]:
mlist = pd.read_csv(os.path.join(save_path, "movie_list_all.csv"), encoding="utf-8")

In [30]:
mlist.tail(2)

,movieCd,movieNm,movieNmEn,prdtYear,openDt,typeNm,prdtStatNm,nationAlt,genreAlt,repNationNm,repGenreNm,directors,companyCd,companyNm
19872,19910263,최가손우2,CRAZY COMPANIES 2,1988,19910803,NaN,개봉,NaN,NaN,NaN,NaN,,"(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ...","(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ..."
19873,19910096,칙칙이의 내일은 참피온,Tomorrow's Champion,1991,19910803,장편,개봉,한국,코미디,한국,코미디,,"(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ...","(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ..."

### 데이터 분할

In [31]:
mlist1 = mlist.iloc[:2900]

In [32]:
mlist1.tail(2)

,movieCd,movieNm,movieNmEn,prdtYear,openDt,typeNm,prdtStatNm,nationAlt,genreAlt,repNationNm,repGenreNm,directors,companyCd,companyNm
2898,20185108,저스티스 배틀,The Danger Element,2017,20180612,장편,개봉,미국,액션,미국,액션,존 소올스,"(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ...","(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ..."
2899,20185625,여직원들 : 2대2 섹스,NaN,2018,20180612,장편,개봉,한국,멜로/로맨스,한국,멜로/로맨스,이상민,"('20161021', ' ', ' ', ' ', ' ', ' ', ' ', ' '...","('(주)영화사가을', ' ', ' ', ' ', ' ', ' ', ' ', ' '..."

In [33]:
mlist2 = mlist.iloc[2900:5800]
mlist2.tail(2)

,movieCd,movieNm,movieNmEn,prdtYear,openDt,typeNm,prdtStatNm,nationAlt,genreAlt,repNationNm,repGenreNm,directors,companyCd,companyNm
5798,20179224,"숙모, 내가 더 잘해요",Love deprives,2015,20170110,장편,개봉,일본,드라마,일본,드라마,긴다이치 코고로,"(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ...","(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ..."
5799,20179222,기둥서방의 여인,Melancholy flowers,2015,20170110,장편,개봉,일본,드라마,일본,드라마,호리이 히카루,"(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ...","(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ..."

In [34]:
mlist3 = mlist.iloc[5800:8700]
mlist3.tail(2)

,movieCd,movieNm,movieNmEn,prdtYear,openDt,typeNm,prdtStatNm,nationAlt,genreAlt,repNationNm,repGenreNm,directors,companyCd,companyNm
8698,2010A019,쏠라 어택,Solar Attack,2006,20150716,장편,개봉,캐나다,"액션,SF,스릴러",캐나다,액션,폴 질러,"(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ...","(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ..."
8699,20088594,소녀괴담 : 17살 여고생의 악몽,The Haunting of Molly Hartley,2008,20150716,장편,개봉,미국,"공포(호러),스릴러",미국,공포(호러),미키 리델,"(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ...","(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ..."

In [35]:
mlist4 = mlist.iloc[8700:11600]
mlist4.tail(2)

,movieCd,movieNm,movieNmEn,prdtYear,openDt,typeNm,prdtStatNm,nationAlt,genreAlt,repNationNm,repGenreNm,directors,companyCd,companyNm
11598,19910271,괴마천사,Taoism Drunkaro,1983,19910824,장편,개봉,홍콩,멜로/로맨스,홍콩,멜로/로맨스,"나유, 원상인","(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ...","(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ..."
11599,20040528,고티카,Gothika,2003,20040402,장편,개봉,미국,공포(호러),미국,공포(호러),마티유 카소비츠,"('20102989', '20103668', '20101728', ' ', ' ',...","('다크 캐슬 엔터테인먼트', '워너 브러더스 픽쳐스', '콜럼비아트라이스타영화㈜'..."

In [36]:
mlist5 = mlist.iloc[11600:14500]
mlist5.tail(2)

,movieCd,movieNm,movieNmEn,prdtYear,openDt,typeNm,prdtStatNm,nationAlt,genreAlt,repNationNm,repGenreNm,directors,companyCd,companyNm
14498,20080252,데스 디파잉:어느 마술사의 사랑,Death Defying Acts,2007,20080327,장편,개봉,"영국,호주","드라마,멜로/로맨스,스릴러",영국,드라마,질리안 암스트롱,"(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ...","(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ..."
14499,20080659,88분,88 Minutes,2007,20080529,장편,개봉,"미국,독일,캐나다","드라마,미스터리,스릴러",미국,드라마,존 애브넛,"(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ...","(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ..."

In [37]:
def progress_bar(i, total):
    k = i/total*100
    star = "*"*int(k/2.5)
    print("Processing: {}/{} [{:.1f}%] {}".format(i, total, k, star), end="\r")

In [38]:
def load_movie_details(movie_list, key): # save_path 추가 ?
    
    mcodes = movie_list.movieCd
    cols = ["movieCd", "movieNm", "showTm", "nations", "genres", "actors", "companys", "audits"]    
    
#     i = 1
#     total = len(mcodes)
    movie_details = pd.DataFrame()
    for code in tqdm(mcodes):
        
        url = f"http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key={key}&movieCd={code}"
        res = requests.get(url)
        minfos = res.json()["movieInfoResult"]["movieInfo"]
        
        infos = []
        for col in cols:
            infos.append(minfos[col])
        
        movieCd, movieNm = infos[:2]
        
        try:
            showTm = infos[2]
        except:
            showTm = ""
            
        try:
            temp = []
            for i in range(3, len(infos)):
                tmp1 = []
                for j in range(len(infos[i])):
                    tmp2 = []
                    for k in range(len(infos[i][0])):
                        tmp2.append(list(infos[i][j].values())[k])
                    tmp1.extend(tmp2)
                temp.append(tmp1)


            nations = temp[0][0]
            genre = ','.join(temp[1])

            actors = []
            actors_en = []
            cast = []
            cast_en = []
            for i in range(0, len(temp[2]), 4):
                if temp[2][i] == "":
                    continue
                actors.append(temp[2][i])
                actors_en.append(temp[2][i+1])
            #     if temp[2][i+2] == "":
            #         continue
                cast.append(temp[2][i+2])
                cast_en.append(temp[2][i+3])

            companyCd = []
            companyNm = []
            companyNmEn = []
            companyPartNm = []
            for i in range(0, len(temp[3]), 4):
                companyCd.append(temp[3][i])
                companyNm.append(temp[3][i+1])
                companyNmEn.append(temp[3][i+2])
                companyPartNm.append(temp[3][i+3])

            watchGradeNm = []
            for i in range(0, len(temp[4]), 2):
                if temp[4][i+1] == "":
                    continue    
                watchGradeNm.append(temp[4][i+1])             
        except:
            nations = genre = actors = actors_en = cast = cast_en = \
            companyCd = companyNm = companyNmEn = companyPartNm = watchGradeNm = ""
            
        
        detail = pd.DataFrame([movieCd, movieNm, showTm, nations, genre, actors, actors_en, cast, cast_en, companyCd, companyNm, companyNmEn, companyPartNm, watchGradeNm],
             index=['movieCd', 'movieNm', 'showTm', 'nations', 'genre', 'actors', 'actors_en', 'cast', 'cast_en', 'companyCd', 'companyNm', 'companyNmEn', 'companyPartNm', 'watchGradeNm']).T
        
        movie_details = pd.concat([movie_details, detail], axis=0)  
        
#         progress_bar(i, total)
#         i += 1

#     print()
#     print("complete!")

    return movie_details

In [28]:
details1 = load_movie_details(mlist1, key1)

100%|██████████████████████████████████████████████████████████████████████████████| 2900/2900 [20:15<00:00,  2.62it/s]

In [39]:
details1.tail(2)

,movieCd,movieNm,showTm,nations,genre,actors,actors_en,cast,cast_en,companyCd,companyNm,companyNmEn,companyPartNm,watchGradeNm
0,20185108,저스티스 배틀,100,미국,액션,[더그 존스],[Doug Jones],[],[],"[20063099, 20063099]","[(주)케이알씨지, (주)케이알씨지]","[KRCG, KRCG]","[배급사, 수입사]",[15세이상관람가]
0,20185625,여직원들 : 2대2 섹스,61,한국,멜로/로맨스,[미즈미 사키],[Saki Mizumi],[],[],"[20161021, 20161021]","[(주)영화사가을, (주)영화사가을]","[, ]","[제작사, 배급사]",[청소년관람불가]

In [40]:
details1.to_csv(os.path.join(save_path, "movie_details_all_1.csv"), index=None, encoding="utf-8")

In [ ]:
details2 = load_movie_details(mlist2, key2)

 54%|██████████████████████████████████████████▏                                   | 1567/2900 [11:13<06:43,  3.31it/s]

In [96]:
details2.tail(2)

,movieCd,movieNm,showTm,nations,genre,actors,actors_en,cast,cast_en,companyCd,companyNm,companyNmEn,companyPartNm,watchGradeNm
0,20160787,더티 로맨스,94,한국,드라마,"[김준우, 안하나, 길덕호, 최홍준, 서현석, 유현호]","[, , , CHOI Hong-jun, , ]","[, , , , 노숙자, 학원남]","[, , , , , ]","[20110901, 20110901]","[이상우 필름, 이상우 필름]","[LEESANGWOO FILM, LEESANGWOO FILM]","[제작사, 배급사]",[청소년관람불가]
0,20163218,위선자들: 감독판,103,한국,드라마,"[권민중, 김정균, 장두이]","[KWON Min-jung, KIM Jeong-kyoon, CHANG Du-yee]","[, , ]","[, , ]","[20061772, 20154408, 20101135, 20101135]","[(주)영화사메이플러스, THE 픽쳐스, 주식회사 마운틴픽쳐스, 주식회사 마운틴픽쳐스]","[Mayplus, THE PICTURES, Mountain Pictures Co.,...","[제작사, 배급사, 배급사, 해외세일즈사]",[청소년관람불가]

In [181]:
details2.to_csv(os.path.join(save_path, "movie_details_all_2.csv"), index=None, encoding="utf-8")

In [ ]:
details3 = load_movie_details(mlist3, key3)
details3.to_csv(os.path.join(save_path, "movie_details_all_3.csv"), index=None, encoding="utf-8")
details3.tail(2)

In [ ]:
details4 = load_movie_details(mlist4, key4)
details4.to_csv(os.path.join(save_path, "movie_details_all_4.csv"), index=None, encoding="utf-8")
details4.tail(2)

In [ ]:
details5 = load_movie_details(mlist5, key5)
details5.to_csv(os.path.join(save_path, "movie_details_all_5.csv"), index=None, encoding="utf-8")
details5.tail(2)

In [ ]:
details = pd.concat([details1, details2, details3, details4, details5], axis=0)
len(details)

In [ ]:
details.head()

In [ ]:
details5.to_csv(os.path.join(save_path, "movie_details_11600.csv"), index=None, encoding="utf-8")

In [179]:
i = 1
total = 1793
for _ in range(total):
    k = i/total*100
    star = "*"*int(k/2.5)
    print("Processing: {}/{} [{:.1f}%] {}".format(i, total, k, star), end="\r")
    i += 1

print()
print("complete!")

Processing: 1793/1793 [100.0%] ****************************************
complete!

In [102]:
movie_details = pd.concat([details1, details2], axis=0)

In [183]:
len(movie_details)

4000

In [182]:
movie_details.tail(2)

,movieCd,movieNm,showTm,nations,genre,actors,actors_en,cast,cast_en,companyCd,companyNm,companyNmEn,companyPartNm,watchGradeNm
0,20160787,더티 로맨스,94,한국,드라마,"[김준우, 안하나, 길덕호, 최홍준, 서현석, 유현호]","[, , , CHOI Hong-jun, , ]","[, , , , 노숙자, 학원남]","[, , , , , ]","[20110901, 20110901]","[이상우 필름, 이상우 필름]","[LEESANGWOO FILM, LEESANGWOO FILM]","[제작사, 배급사]",[청소년관람불가]
0,20163218,위선자들: 감독판,103,한국,드라마,"[권민중, 김정균, 장두이]","[KWON Min-jung, KIM Jeong-kyoon, CHANG Du-yee]","[, , ]","[, , ]","[20061772, 20154408, 20101135, 20101135]","[(주)영화사메이플러스, THE 픽쳐스, 주식회사 마운틴픽쳐스, 주식회사 마운틴픽쳐스]","[Mayplus, THE PICTURES, Mountain Pictures Co.,...","[제작사, 배급사, 배급사, 해외세일즈사]",[청소년관람불가]

In [184]:
movie_details.to_csv(os.path.join(save_path, "movie_all_4000.csv"), index=None, encoding="utf-8")

In [185]:
movie_all = pd.read_csv(os.path.join(save_path, "movie_all_4000.csv"), encoding="utf-8")

In [186]:
movie_all.tail(2)

,movieCd,movieNm,showTm,nations,genre,actors,actors_en,cast,cast_en,companyCd,companyNm,companyNmEn,companyPartNm,watchGradeNm
3998,20160787,더티 로맨스,94.0,한국,드라마,"['김준우', '안하나', '길덕호', '최홍준', '서현석', '유현호']","['', '', '', 'CHOI Hong-jun', '', '']","['', '', '', '', '노숙자', '학원남']","['', '', '', '', '', '']","['20110901', '20110901']","['이상우 필름', '이상우 필름']","['LEESANGWOO FILM', 'LEESANGWOO FILM']","['제작사', '배급사']",['청소년관람불가']
3999,20163218,위선자들: 감독판,103.0,한국,드라마,"['권민중', '김정균', '장두이']","['KWON Min-jung', 'KIM Jeong-kyoon', 'CHANG Du...","['', '', '']","['', '', '']","['20061772', '20154408', '20101135', '20101135']","['(주)영화사메이플러스', 'THE 픽쳐스', '주식회사 마운틴픽쳐스', '주식회...","['Mayplus', 'THE PICTURES', 'Mountain Pictures...","['제작사', '배급사', '배급사', '해외세일즈사']",['청소년관람불가']

## 코드 확인

In [49]:
code = 20173254

In [50]:
url = f"http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key={key2}&movieCd={code}"

In [51]:
res = requests.get(url)
tmp = res.json()
tmp

{'movieInfoResult': {'movieInfo': {'movieCd': '20173254',
   'movieNm': '네발 자전거',
   'movieNmEn': '',
   'movieNmOg': '',
   'showTm': '100',
   'prdtYear': '2018',
   'openDt': '',
   'prdtStatNm': '촬영준비',
   'typeNm': '장편',
   'nations': [],
   'genres': [],
   'directors': [{'peopleNm': '서하늘', 'peopleNmEn': ''}],
   'actors': [],
   'showTypes': [],
   'companys': [],
   'audits': [{'auditNo': '', 'watchGradeNm': ''}],
   'staffs': [{'peopleNm': '김시현', 'peopleNmEn': '', 'staffRoleNm': '사운드'},
    {'peopleNm': '김해룡', 'peopleNmEn': '', 'staffRoleNm': '조명'}]},
  'source': '영화진흥위원회'}}

In [53]:
minfos = tmp["movieInfoResult"]["movieInfo"]
minfos

{'movieCd': '20173254',
 'movieNm': '네발 자전거',
 'movieNmEn': '',
 'movieNmOg': '',
 'showTm': '100',
 'prdtYear': '2018',
 'openDt': '',
 'prdtStatNm': '촬영준비',
 'typeNm': '장편',
 'nations': [],
 'genres': [],
 'directors': [{'peopleNm': '서하늘', 'peopleNmEn': ''}],
 'actors': [],
 'showTypes': [],
 'companys': [],
 'audits': [{'auditNo': '', 'watchGradeNm': ''}],
 'staffs': [{'peopleNm': '김시현', 'peopleNmEn': '', 'staffRoleNm': '사운드'},
  {'peopleNm': '김해룡', 'peopleNmEn': '', 'staffRoleNm': '조명'}]}

In [54]:
cols = ["movieCd", "movieNm", "showTm", "nations", "genres", "actors", "companys", "audits"]

In [55]:
infos = []
for col in cols:
    infos.append(minfos[col])

In [61]:
movieCd, movie_Nm, showTm = infos[:3]
movieCd, movie_Nm, showTm

('20173254', '네발 자전거', '100')

In [57]:
temp = []
for i in range(3, len(infos)):
    tmp1 = []
    for j in range(len(infos[i])):
        tmp2 = []
        for k in range(len(infos[i][0])):
            tmp2.append(list(infos[i][j].values())[k])
        tmp1.extend(tmp2)
    temp.append(tmp1)

In [60]:
temp

[[], [], [], [], ['', '']]

In [96]:
nations = temp[0][0]

In [97]:
genre = ','.join(temp[1])

In [98]:
actors = []
actors_en = []
cast = []
cast_en = []
for i in range(0, len(temp[2]), 4):
    if temp[2][i] == "":
        continue
    actors.append(temp[2][i])
    actors_en.append(temp[2][i+1])
#     if temp[2][i+2] == "":
#         continue
    cast.append(temp[2][i+2])
    cast_en.append(temp[2][i+3])

In [99]:
companyCd = []
companyNm = []
companyNmEn = []
companyPartNm = []
for i in range(0, len(temp[3]), 4):
    companyCd.append(temp[3][i])
    companyNm.append(temp[3][i+1])
    companyNmEn.append(temp[3][i+2])
    companyPartNm.append(temp[3][i+3])

In [100]:
watchGradeNm = []
for i in range(0, len(temp[4]), 2):
    if temp[4][i+1] == "":
        continue    
    watchGradeNm.append(temp[4][i+1])

In [101]:
detail = pd.DataFrame([movieCd, movie_Nm, showTm, nations, genre, actors, actors_en, cast, cast_en, companyCd, companyNm, companyNmEn, companyPartNm, watchGradeNm],
             index=['movieCd', "movie_Nm", 'showTm', 'nations', 'genre', 'actors', 'actors_en', 'cast', 'cast_en', 'companyCd', 'companyNm', 'companyNmEn', 'companyPartNm', 'watchGradeNm']).T

In [102]:
detail

,movieCd,movie_Nm,showTm,nations,genre,actors,actors_en,cast,cast_en,companyCd,companyNm,companyNmEn,companyPartNm,watchGradeNm
0,20129370,명량,128,한국,"사극,액션","[최민식, 류승룡, 조진웅, 김명곤, 진구, 이정현, 권율, 노민우, 김태훈, 이승...","[CHOI Min-shik, RYU Seung-ryong, CHO Jin-woong...","[이순신 , 구루지마 , 와키자카 , 도도, 임준영 , 정씨 여인 , 이회, 하루,...","[, , , , , , , , , , , , , , , , , , , , , , ,...","[20123063, 20110854, 20110854, 20100109]","[(주)빅스톤픽쳐스, 씨제이이앤엠(주), 씨제이이앤엠(주), 씨제이엔터테인먼트]","[BIGSTONEPICTURES, CJ ENM Corp., CJ ENM Corp.,...","[제작사, 배급사, 제공, 해외세일즈사]",[15세이상관람가]

In [ ]:
temp2 = []
for i in range(2, len(infos)):
    tmp2 = []
    for j in range(len(infos[i])):
        tmp3 = []
        for k in range(len(infos[i][0])):
            if list(infos[i][j].values())[k] == "":
                continue
            tmp3.append(list(infos[i][j].values())[k])
        tmp2.append(tmp3)
    temp2.append(tmp2)
temp2

In [228]:
pd.DataFrame(tmp1).T

,0,1,2,3,4,5
0,[미국],[SF],"[샘 워싱턴, Sam Worthington]","[필름, 필름]","[20101507, 이십세기폭스필름코퍼레이션, 20th Century Fox Fil...","[2009-F430, 12세이상관람가]"
1,None,[액션],"[조 샐다나, Zoe Saldana]","[2D, 디지털]","[20175001, 주식회사 해리슨앤컴퍼니, Harrison & Company, 배급사]","[2018-MF00904, 12세이상관람가]"
2,None,[어드벤처],"[시고니 위버, Sigourney Weaver]","[3D, 3D 디지털]","[20100041, 이십세기폭스코리아(주), 20th Century Fox Kore...",None
3,None,None,None,"[4D, 4D]","[20175001, 주식회사 해리슨앤컴퍼니, Harrison & Company, 수입사]",None
4,None,None,None,"[IMAX, IMAX]","[20100041, 이십세기폭스코리아(주), 20th Century Fox Kore...",None